	<link rel="stylesheet" href="/css/template.css" />

	<div id="fullConfig"></div>
	<div class="bar"></div>
	<script>
		var fullConfig = {
			headerQuery: { //查询头样式 
				text: '检索', //表头查询按钮文本内容,默认查询
				btnIcon: true //表头查询按钮是否需要图标，默认为true
			},
			header: [{
					key: {
						column: 2,
						text: '活动名',
						name: 'theme',
					},
					value: [{
						width: '100px',
						text: '',
						type: 'input',
						initValue: ''
					}, ]
				}
			],
			body: {
				url: '/frame/getlist2', //获取数据的主url
				mtype: 'get', //对应主url的ajax请求类型
				update: { //开启editable后方可使用
					url: '/frame/getlist2', //用于更新的url
					utype: 'get' //对应更新url的ajax请求类型
				},//name sex tel idcard political specialty place qq wx email 
				colModel: [{ //表格展示内容，成员为对象形式，参数:name,width,align,text,sort
					name: 'xhid',
					width: 20,
					text: '序号'
				},{
					name: 'theme',
					width: 45,
					align: 'left',
					text: '活动主题'
				}, {
					name: 'content',
					width: 45,
					align: 'left',
					text: '内容'
				}, {
					name: 'time',
					width: 45,
					align: 'left',
					text: '时间'
				}, {
					name: 'place',
					width: 45,
					align: 'left',
					text: '地点'
				}, {
					name: 'responsible',
					width: 45,
					align: 'left',
					text: '联系人'
				}, {
					name: 'peoplenum',
					width: 45,
					align: 'left',
					text: '人数'
				}, {
					name: 'KID',
					width: 35,
					text: '操作',
					callback: function(curValue, curData) { //callback控制自定义表格内容展示
					return  '<img class="tableIcon" src="/img/exout2.png" title="导出签到名单" onclick="exportsign('+curData.cell.id+',\''+curData.cell.theme+'\')"/>&nbsp;<img class="tableIcon" src="/img/mx.png" title="明细" onclick="show('+curData.cell.id+')"/><img class="tableIcon" width="18px" height="18px" src="/img/del.png" title="删除" onclick="del('+curData.cell.id+')"/>';
					}
				}],
				//新版本的接口
				pageSize: 10, //初始时请求的每页条数
				orderType: 'ASC', //初始时排序类型
				orderBy: 'id', //初始时排序字段
				rowList: [10, 20, 30], //可选的每页条数，对应页脚的左侧多选框内容
				sortable: false, //是否排序，必须开启之后colModel中sort才会起作用
				unScrollBar:true,	//表格内容主体部分是否需要滚动条，默认为false[需要]，
				pageable: true, //是否需要分页功能	
				resizeable: true, //是否可以列移动
				checkable: false, //是否出现多选框
				tools: [],
				//冷门的配置项
				noBorder: false, //去除表格内的边框		可选值row/column,表示去除行/列的边框
				editable: false, //是否开启表格默认的编辑功能=>开启后update参数才有效
				isWrapRow: false, //是否开启换行背景的样式
				filterByColumn: false, //是否开启默认筛选列的功能

				//5.25 添加配置项
				//用于处理后台错误信息的自定义函数
				errorCallback: function(errorRes) { //errorRes表示返回来的错误信息，格式应为对象，且
					/*代码区*/ //{status:'error'}    一定要带有status:'error'的标识
					//函数返回值为true 表示存在错误，不渲染表格内容
					return true; //若返回值为false表示不存在错误，仍渲染表格内容
				},
				// 7.10 添加是否开启选择数目区域的选项
				success: function(res) { //7.20 添加请求成功之后的回调函数
					//				    console.log('success:', res);
				}
			}
		}
		$('#fullConfig').table(fullConfig);

		function exportsign(id,theme){
			window.open("/frame/exportsigninlist?theme="+theme+"&id="+id);
		}
		function show(val){
			cdialog.pop('/frame/signinlist?id='+val,'签到人员',1000,700,'center',function(){},true,3);
		}
		
		function del(val){
			cdialog.info('确认删除吗？',function(){
				$.ajax({
		            type: "POST",
		            url:"/frame/del?"+new Date(),
		            data:{
		            	"id":val,
		            	"pwd":"666888"
		            },// 你的formid
		            async: false,
		            success: function(data) {
		              eval("var jsondata="+data);
		                if(jsondata.status==1){
			                cdialog.success("删除成功",null,null,true,'center');
			                $(".inputTargetCode").find("input").val($(".current").html());
			                $(".targetCode").click();
			            }else{
			                cdialog.error("删除失败",null,null,true,'center');
			            }
		            }
		        });
			},function(){},true,'center');
			
		}
	</script>