@charset "utf-8";

.t-datepicker-showDate {
  position: relative;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -moz-cursor: pointer;
  -webkit-cursor: pointer;
  -o-cursor: pointer;
  cursor: hand;
  cursor: -ms-hand;
  cursor: pointer;
  width: 140px;
  height: 26px;
  display: inline-block;
  line-height: 26px;
  text-align: center;
  color: #999999;
  border: 1px solid #d8d8d8;
}
.t-datepicker-showDate:hover {
  color: #505050;
  border-color: #b2d4ff;
}
.t-datepicker-showDate:hover .showDate-arrowIcon {
  background: url('../../../img/common/index-s.png') no-repeat -835px -267px;
}
.t-datepicker-showDate.focus {
  color: #505050;
  border-color: #b2d4ff;
}
.t-datepicker-showDate.focus .showDate-arrowIcon {
  background: url('../../../img/common/index-s.png') no-repeat -835px -267px;
}
.t-datepicker-showDate .t-datepicker-input {
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  padding-left: 35px;
}
.t-datepicker-showDate .calendarIcon {
  position: absolute;
  width: 20px;
  height: 100%;
  display: block;
  background: url('../../../img/common/index-s.png') no-repeat -271px -668px;
  left: 10px;
}
.t-datepicker-showDate .showDate-arrowIcon {
  position: absolute;
  width: 10px;
  height: 100%;
  display: block;
  top: 0;
  right: 10px;
  background: url('../../../img/common/index-s.png') no-repeat -756px -267px;
}
.t-datepicker-showTime {
  width: 144px;
  height: 26px;
  display: inline-block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  line-height: 23px;
  padding-left: 7px;
  color: #999999;
  cursor: default;
  border: 1px solid #d8d8d8;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
}
.t-datepicker-showTime:hover {
  border-color: #b2d4ff;
}
.t-datepicker-showTime.focus {
  border-color: #b2d4ff;
}
.t-datepicker-showTime.focus b {
  border-color: #b2d4ff;
  color: #505050;
}
.t-datepicker-showTime b {
  font-weight: normal;
  padding: 0 10px 1px;
  border: 1px solid #d8d8d8;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
}
.t-datepicker-showTime b:hover {
  border-color: #b2d4ff;
  color: #505050;
}
.t-datepicker-showTime i {
  display: inline-block;
  width: 10px;
  text-align: center;
}
.t-datepicker-onlyTime {
  margin: 15px 13px 9px;
}
.t-datepicker-onlyTime .onlyTime-showHMS {
  margin-bottom: 10px;
}
.t-datepicker-onlyTime .onlyTime-showHMS > div {
  float: left;
}
.t-datepicker-onlyTime .onlyTime-showHMS > div span {
  padding-bottom: 9px;
  width: 100%;
  height: auto;
  display: block;
  text-align: center;
}
.t-datepicker-onlyTime .onlyTime-showHMS > div .t-datepicker-wrap {
  width: 74px;
  height: 154px;
  display: block;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  position: relative;
  overflow: hidden;
  border: 1px solid #b2d4ff;
}
.t-datepicker-onlyTime .onlyTime-showHMS > div .t-datepicker-wrap li {
  line-height: 24px;
  text-align: center;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  cursor: pointer;
}
.t-datepicker-onlyTime .onlyTime-showHMS > div .t-datepicker-wrap li.selected {
  background-color: #d7e9fc;
  border-color: #b2d4ff;
}
.t-datepicker-onlyTime .onlyTime-showHMS > div .t-datepicker-wrap li:hover {
  background-color: #d7e9fc;
  border-color: #b2d4ff;
}
.t-datepicker-onlyTime .onlyTime-showHMS > div.showMinute {
  margin: 0 8px;
}
.t-datepicker-onlyTime p {
  text-align: center;
}
.t-datepicker-onlyTime p .onlyTime-btn {
  width: 44px;
  line-height: 20px;
  color: white;
  background: #4491e1;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
}
.t-datepicker-onlyTime p .onlyTime-btn:hover {
  opacity: 0.8;
  -moz-opacity: 0.8;
  -webkit-opacity: 0.8;
  -o-opacity: 0.8;
  filter: alpha(opacity = 80);
}
.t-datepicker-datFooter {
  width: 100%;
  height: 28px;
  display: inline-block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  line-height: 27px;
  background-color: #d7e9fc;
  padding-left: 11px;
  color: #999999;
  cursor: default;
  border-top: 1px solid #b2d4ff;
}
.t-datepicker-datFooter.focus b {
  border-color: #4491e1;
  color: #505050;
}
.t-datepicker-datFooter b {
  font-weight: normal;
  padding: 0 10px 1px;
  border: 1px solid #b2d4ff;
  background: #fff;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
}
.t-datepicker-datFooter b:hover {
  border-color: #4491e1;
  color: #505050;
}
.t-datepicker-datFooter i {
  display: inline-block;
  width: 10px;
  text-align: center;
}
.t-datepicker-datFooter button {
  width: 44px;
  line-height: 20px;
  color: white;
  background: #4491e1;
  position: relative;
  top: 1px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
}
.t-datepicker-datFooter button:hover {
  opacity: 0.8;
  -moz-opacity: 0.8;
  -webkit-opacity: 0.8;
  -o-opacity: 0.8;
  filter: alpha(opacity = 80);
}
.t-datepicker-datFooter button.t-datepicker-empty {
  margin: 0 5px 0 25px;
}
.t-datepicker-datFooter.t-dbDatFooter {
  text-align: center;
}
.t-datepicker-datShowTime {
  position: absolute;
  width: 100%;
  top: 26px;
  left: 0;
  background: #fff;
  z-index: 9;
}
.t-datepicker-datShowTime p {
  text-align: center;
  background: #f1f1f3;
  line-height: 27px;
}
.t-datepicker-datShowTime .t-datShowTime-close {
  float: right;
  cursor: pointer;
  width: 10px;
  height: 14px;
  display: block;
  margin: 8px 8px 0 0;
  background: url('../../../img/common/index-s.png') no-repeat -356px -675px;
}
.t-datepicker-datShowTime .t-datShowTime-close:hover {
  background: url('../../../img/common/index-s.png') no-repeat -436px -675px;
}
.t-datepicker-box {
  position: absolute;
  z-index: 9999;
  width: 270px;
  border: 1px solid #b2d4ff;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  background-color: #ffffff;
}
.t-datepicker-box .t-datepicker-boxHeader {
  position: relative;
  padding: 4px 9px 4px 6px;
  background-color: #d7e9fc;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
}
.t-datepicker-box .t-datepicker-boxHeader > span {
  display: inline-block;
  width: 73px;
  line-height: 20px;
  margin-right: 6px;
  padding: 0 8px;
  color: #505050;
  border: 1px solid #b2d4ff;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  background-color: #ffffff;
  -moz-cursor: pointer;
  -webkit-cursor: pointer;
  -o-cursor: pointer;
  cursor: hand;
  cursor: -ms-hand;
  cursor: pointer;
}
.t-datepicker-box .t-datepicker-boxHeader > span:hover {
  border-color: #58a2ff;
}
.t-datepicker-box .t-datepicker-boxHeader > span.focus {
  border-color: #58a2ff;
}
.t-datepicker-box .t-datepicker-boxHeader .header-arrow {
  float: right;
  width: 10px;
  height: 20px;
  display: inline-block;
  background: url('../../../img/common/index-s.png') no-repeat -835px -270px;
}
.t-datepicker-box .t-datepicker-boxHeader .t-datepicker-empty {
  float: right;
  -moz-cursor: pointer;
  -webkit-cursor: pointer;
  -o-cursor: pointer;
  cursor: hand;
  cursor: -ms-hand;
  cursor: pointer;
  position: relative;
  top: 2px;
  width: 31px;
  height: 20px;
  display: inline-block;
  color: #58a2ff;
}
.t-datepicker-box .t-datepicker-boxHeader .t-datepicker-empty:hover {
  opacity: 0.8;
  -moz-opacity: 0.8;
  -webkit-opacity: 0.8;
  -o-opacity: 0.8;
  filter: alpha(opacity = 80);
}
.t-datepicker-box .t-datepicker-boxHeader > div {
  width: 71px;
  height: 200px;
  display: block;
  visibility: hidden;
  position: absolute;
  top: 27px;
  left: 6px;
  z-index: 1000;
  overflow: hidden;
  border: 1px solid #b2d4ff;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  background-color: #ffffff;
}
.t-datepicker-box .t-datepicker-boxHeader > div.t-monthBox {
  left: 85px;
}
.t-datepicker-box .t-datepicker-boxHeader ul {
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  overflow-y: scroll;
}
.t-datepicker-box .t-datepicker-boxHeader ul.dvScrollBar::-webkit-scrollbar-thumb {
  background: #b4e1ff;
}
.t-datepicker-box .t-datepicker-boxHeader ul.dvScrollBar::-webkit-scrollbar-track {
  display: none;
}
.t-datepicker-box .t-datepicker-boxHeader li {
  width: 80px;
  line-height: 20px;
  padding-left: 8px;
  -moz-cursor: pointer;
  -webkit-cursor: pointer;
  -o-cursor: pointer;
  cursor: hand;
  cursor: -ms-hand;
  cursor: pointer;
}
.t-datepicker-box .t-datepicker-boxHeader li:hover {
  background-color: #58a2ff;
  color: #ffffff;
}
.t-datepicker-box .t-datepicker-boxHeader li.selected {
  background-color: #58a2ff;
  color: #ffffff;
}
.t-datepicker-box .t-doubleDate {
  float: left;
  width: 270px;
  border: 1px solid #b2d4ff;
  position: relative;
}
.t-datepicker-box .t-doubleDate.t-to {
  margin-left: 6px;
}
.t-datepicker-box .t-datepicker-dbFooter {
  line-height: 42px;
  text-align: right;
}
.t-datepicker-box .t-datepicker-dbFooter button {
  width: 44px;
  line-height: 20px;
  color: white;
  background: #4491e1;
  position: relative;
  top: 1px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
}
.t-datepicker-box .t-datepicker-dbFooter button:hover {
  opacity: 0.8;
  -moz-opacity: 0.8;
  -webkit-opacity: 0.8;
  -o-opacity: 0.8;
  filter: alpha(opacity = 80);
}
.t-datepicker-box .t-datepicker-dbFooter button.t-datepicker-empty {
  margin: 0 10px 0 25px;
}
.t-datepicker-table {
  padding: 10px 6px;
  text-align: center;
}
.t-datepicker-table .week {
  color: #58a2ff;
}
.t-datepicker-table .invalid {
  color: #999999;
}
.t-datepicker-table td,
.t-datepicker-table th {
  height: 30px;
}
.t-datepicker-table td:not(.invalid) span {
  width: 22px;
  height: 22px;
  display: inline-block;
  line-height: 22px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -moz-cursor: pointer;
  -webkit-cursor: pointer;
  -o-cursor: pointer;
  cursor: hand;
  cursor: -ms-hand;
  cursor: pointer;
}
.t-datepicker-table td:not(.invalid) span:hover {
  background-color: #58a2ff;
  color: #ffffff;
}
.t-datepicker-table td.selected span {
  background-color: #58a2ff;
  color: #ffffff;
}
.t-datepicker-table td.selected span:hover {
  opacity: 0.8;
  -moz-opacity: 0.8;
  -webkit-opacity: 0.8;
  -o-opacity: 0.8;
  filter: alpha(opacity = 80);
}
.t-datepicker-table td.curDate span {
  border: 1px solid #58a2ff;
}
