<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title></title>

	<style type="text/css">
		/* box */
		.box {
			width: 310px;
			margin: 100px auto;
		}
	</style>

</head>

<body>

	<div class="box">
		<a href="javascript:void(0);"><img src="images/01_mid.jpg" alt="美女" data-rel="images/01.jpg" class="jqzoom" /></a>
	</div>

</body>
<script src="../../js/common/jquery-1.9.1.min.js"></script>
<script src="./js/zoomImg.js"></script>
<script type="text/javascript">
	$(".jqzoom").zoomImg({
		position: 'PR', 									// 展示框相对于要放大图片的相对位置,PR(相对在要放大图片右面)[默认值],PL(相对于要放大图片左面)
		offset: 100, 											// 展示框相对于要放大图片的相对偏移值
		zoomWidth: 310, 									// 展示框的宽
		zoomHeight: 310, 									// 展示框的高
		zoomDivBorder: '1px solid red',		// 展示框的边框样式
		zoomMaskBg: 'url(images/mask.png)'// 移动框的背景样式
	});
</script>

</html>