@charset "utf-8";
.m-header-60 {
  height: 60px;
  background-color: #0076e7;
}
.logo {
  vertical-align: middle;
  margin-left: 25px;
  width: auto;
  height: 40px;
  display: inline-block;
}
.logo .logo-icon {
  vertical-align: top;
  width: 50px;
  height: 40px;
  display: inline-block;
  background: url('../../version/img/index-l.png') no-repeat -878px -81px;
}
.logo .logo-text {
  vertical-align: top;
  color: #ffffff;
  font: bold 20px / 40px "Microsoft YaHei";
  width: auto;
  height: 40px;
  display: inline-block;
}
.headerNav {
  float: right;
  width: auto;
  height: 100%;
  display: block;
}
.headerNav .header-option {
  float: right;
  width: auto;
  height: 100%;
  display: block;
}
.headerNav .header-option > li {
  position: relative;
  float: left;
  width: 57px;
  height: 100%;
  display: block;
}
.headerNav .header-option > li:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.headerNav .header-option > li:hover .hide-option {
  display: block;
}
.headerNav .header-option .header-option-icon {
  cursor: pointer;
  -moz-cursor: pointer;
  -webkit-cursor: pointer;
  -o-cursor: pointer;
  cursor: hand;
  cursor: -ms-hand;
  background: url('../../version/img/index-m.png') no-repeat -22px -20px;
  width: 100%;
  height: 100%;
  display: inline-block;
}
.headerNav .header-option .hide-option {
  position: absolute;
  top: 60px;
  right: 0;
  border: 1px solid #d4d2d3;
  border-top: none;
  background-color: #ffffff;
  width: 130px;
  height: auto;
  display: none;
}
.hide-option ul li {
  float: none;
  cursor: pointer;
  -moz-cursor: pointer;
  -webkit-cursor: pointer;
  -o-cursor: pointer;
  cursor: hand;
  cursor: -ms-hand;
  width: 100%;
  height: 40px;
  display: block;
}
.hide-option ul li .hide-option-icon {
  float: left;
  width: 43px;
  height: 100%;
  display: block;
  background: url('../../version/img/index-s.png') no-repeat -339px -579px;
}
.hide-option ul li .hide-option-text {
  margin-left: 43px;
  width: auto;
  height: 100%;
  display: block;
  color: #505050;
  font: normal 12px / 40px "Microsoft YaHei";
}
.hide-option ul li .hide-option-text:hover {
  color: #4491e1;
}
