<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>弹出框配置展示</title>
		<link rel="stylesheet" href="../version/css/template.css" />
		<link rel="stylesheet" href="./css/dialog.css" />
	</head>

	<body>
	</body>
	<script src="../version/js/jquery-2.1.0.js"></script>
	<script src="js/dialog.js"></script>
	<script type="text/javascript">


		/*cdialog.pop("http://localhost:8778/", '添加', 700, 558,'center', null, true, 0, dealSuccess, dealError.bind(null,'页面加载失败!'));*//**/
		cdialog.pop('ajaxtst.html','dadada',1000,'auto','center',function(){
			alert('dadada')
		},true,6);
	</script>
</html>